
<section class="section" id="dashboard">
  <div class="container is-fluid is-flex">
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a>Budget</a></li>
        <li><a>Culture</a></li>
        <li><a>Défense</a></li>
        <li><a>Environnement</a></li>
      </ul>
    </aside>

    <div class="container is-fluid">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Projet Cigéo - bilan du garant de la concertation
          </p>
          <p class="card-content">
            Crée le 1 Juin 2020
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
            <a href="#">@bulmaio</a>. <a href="#">#css</a>
            <a href="#">#responsive</a>
            <br />
          </div>
        </div>
        <footer class="card-footer card-content">
          <div class="tags">
            <div class="tag">test</div>
            <div class="tag">test</div>
            <div class="tag">test</div>
          </div>
        </footer>
      </div>

      <br />

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Projet Cigéo - bilan du garant de la concertation
          </p>
          <p class="card-content">
            Crée le 1 Juin 2020
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
            <a href="#">@bulmaio</a>. <a href="#">#css</a>
            <a href="#">#responsive</a>
            <br />
          </div>
        </div>
        <footer class="card-footer card-content">
          <div class="tags">
            <div class="tag">test</div>
            <div class="tag">test</div>
            <div class="tag">test</div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</section>
