
    <section class="section" id="typography">
        <div class="container is-fluid">
          <h1 class="title is-1">Typography</h1>
          <p class="subtitle">
            Ceci est un sous-titre
          </p>
          <p>
            Nous utilisons les polices <a>Source Sans Pro</a> pour le corps de
            texte et <a>Evolventa</a> pour les titres.
          </p>
  
          <div class="tags has-addons">
            <h1 class="tag is-1 is-white title is-paddingless">Heading H1</h1>
            <span class="tag is-light">2em</span>
          </div>
          <div class="tags has-addons">
            <h1 class="tag is-2 is-white title is-paddingless">Heading H2</h1>
            <span class="tag is-light">1.75em</span>
          </div>
          <div class="tags has-addons">
            <h1 class="tag is-3 is-white title is-paddingless">Heading H3</h1>
            <span class="tag is-light">1.5em</span>
          </div>
          <div class="tags has-addons">
            <h1 class="tag is-4 is-white title is-paddingless">Heading H4</h1>
            <span class="tag is-light">1.25em</span>
          </div>
          <div class="tags has-addons">
            <h1 class="tag is-5 is-white title is-paddingless">Heading H5</h1>
            <span class="tag is-light">1.125em</span>
          </div>
          <div class="tags has-addons">
            <h1 class="tag is-6 is-white title is-paddingless">Heading H6</h1>
            <span class="tag is-light">1em</span>
          </div>
          <div class="tags has-addons">
            <a class="tag has-text-link is-white is-paddingless">Lien</a>
            <span class="tag is-light">1em</span>
          </div>
  
          <article class="message">
            <div class="message-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <strong>Pellentesque risus mi</strong>, tempus quis placerat ut,
              porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
              gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
              Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales,
              arcu et sollicitudin porttitor, tortor urna tempor ligula, id
              porttitor mi magna a neque. Donec dui urna, vehicula et sem eget,
              facilisis sodales sem.
            </div>
          </article>
        </div>
      </section>