<section class="section is-fluid">
    REACTIONS
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Projet Cigéo - bilan du garant de la concertation
        </p>
        <p class="card-content">
          Crée le 1 Juin 2020
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          nec iaculis mauris.
          <a href="#">@bulmaio</a>. <a href="#">#css</a>
          <a href="#">#responsive</a>
          <br />
        </div>
      </div>
      <footer class="card-footer card-content">
        <div class="tags">
          <div class="tag">test <div class="tag">4</div></div>
          <div class="tag">test</div>
          <div class="tag">test</div>
        </div>
      </footer>
    </div>
  </section>
</section>