<section class="container is-fluid">
    <div class="hero">
      <div class="hero-body">
        <h1 class="title has-text-centered">
          Titre - chili con carne
        </h1>
        <h2 class="subtitle has-text-centered">
          Tagline - libérer les données sans effort et sur data.gouv.fr
        </h2>
        <h3 class="has-text-centered">
          Code source :
          <a href="https://gitlab.com/debat-public/css-debat-public"
            >gitlab.com/debat-public/css-debat-public</a
          >
        </h3>
      </div>
    </div>
  </section>