<section class="section has-background-grey-lighter" id="colors">
  <div class="container is-fluid">
    <h1 class="title is-1">Couleurs</h1>
    <div class="panel has-background-white">
      <div class="section is-fluid">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #b4e1fa;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Lighter blue</h4>
                    <div>#b4e1fa</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #00234d;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Darker</h4>
                    <div>#00234d</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #ffffff;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">White</h4>
                    <div>#ffffff</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #ebeff3;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Lighter grey</h4>
                    <div>#ebeff3</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #c9d3df;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Light grey</h4>
                    <div>#c9d3df</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #adb9c9;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Grey</h4>
                    <div>#adb9c9</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #8393a7;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Dark grey</h4>
                    <div>#8393a7</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #53657d;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Darker grey</h4>
                    <div>#53657d</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #26353f;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Almost black</h4>
                    <div>#26353f</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #03bd5b;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Green</h4>
                    <div>#03bd5b</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #daf5e7;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Light green</h4>
                    <div>#daf5e7</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #ff9947;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Orange</h4>
                    <div>#ff9947</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #fff0e4;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Light orange</h4>
                    <div>#fff0e4</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <div class="panel-block is-block tile is-child box">
                  <span class="bd-color" style="background: #d63626;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Red</h4>
                    <div>#d63626</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent is-vertical tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #efaca6;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Light red</h4>
                    <div>#efaca6</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-vertical is-3">
            <div class="tile">
              <div class="tile is-parent tile is-child box">
                <div class="panel-block is-block">
                  <span class="bd-color" style="background: #0053b3;"></span>
                  <div class="is-inline-block">
                    <h4 class="has-text-weight-bold">Blue</h4>
                    <div>#0053b3</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
