@charset "utf-8";

// Import fonts
// @import "../fonts/Evolventa/Evolventa-Bold.ttf";
// @import "../fonts/Evolventa/Evolventa-BoldOblique.ttf";
// @import "../fonts/Evolventa/Evolventa-Oblique.ttf";
// @import "../fonts/Evolventa/Evolventa-Regular.ttf";

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source Sans Pro/SourceSansPro-Regular.otf");
    font-weight: 400;
}
  
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source Sans Pro/SourceSansPro-Bold.otf");
    font-weight: 800;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/Source Sans Pro/SourceSansPro-It.otf");
    font-style: italic;
}

@font-face {
    font-family: "Evolventa";
    src: url("../fonts/Evolventa/Evolventa-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Evolventa";
    src: url("../fonts/Evolventa/Evolventa-Bold.ttf");
    font-weight: 800;
}

// @import "../fonts/Source\ Sans\ Pro";


// Initial variable
// https://bulma.io/documentation/customize/variables/#initial-variables
$blue: #0053b3;
$white: #fff;
$grey-lightest: #fafbfc;
$grey-lighter: #ebeff3;
$grey-light: #c9d3df;
$grey: #adb9c9;
$grey-dark: #8393a7;
$grey-darker: #53657d;
$black: #1c1c1c;
$green: #03bd5b;
$orange: #ff9947;
$red: #d63626;
$family-sans-serif: "Source Sans Pro", Arial, sans-serif;


$size-1: 2em;
$size-2: 1.75em;
$size-3: 1.5em;
$size-4: 1.25em;
$size-5: 1.125em;
$size-6: 1em;
$size-7: 1em;

// $desktop: 1000px;
// $tablet: 750px;
// Issue du template.data.gouv
//  Colors
$grey-darkest: #26353f;
$green-light: #daf5e7;
$orange-dark: #cc5c00;
$orange-light: #fff0e4;
$blue-light: #006be6;
$blue-dark: #003b80;
$blue-darker: #00234d;
$red-dark: #ab2b1e;
$blue-lighter: #b4e1fa;
$red-light: rgba(239,172,166,0.45882);

// Themes
$theme-primary: $blue;
$theme-primary-light: $blue-light;
$theme-primary-lighter: $blue-lighter;
$theme-primary-dark: $blue-dark;
$theme-primary-darker: $blue-darker;
$theme-secondary: $blue;
$theme-secondary-darken: $blue-dark;
$theme-border: $grey;
$theme-border-lighter: $grey-light;
$theme-border-active: $blue-light;
$theme-border-radius: 3px;
$theme-background-white: $white;
$theme-background-grey: $grey-lighter;
$theme-background-color: $blue;
$theme-background-color-dark: $blue-darker;
$theme-background-gradient: linear-gradient((to left, $blue),$blue-dark);
$theme-background-dark: $black;
$theme-box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
$theme-label-text: $grey-darker;
$theme-light-text: $white;
$theme-dark-text: $grey-darkest;
$theme-success-border: $green;
$theme-success-bg: $green-light;
$theme-warning-border: $orange;
$theme-warning-bg: $orange-light;
$theme-error-border: $red;
$theme-error-bg: $red-light;
$theme-info-border: $blue-light;
$theme-info-bg: $blue-lighter;



// Derived Variable
// https://bulma.io/documentation/customize/variables/#derived-variables
$primary: $blue;
$link: $blue;
$text: $grey-darkest;
$text-strong: $text;
$border-light: $grey-light;
$section-padding-large: 3rem 18rem;

// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $grey-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
// Import 
@import "Elements/title.scss";
@import "Layouts/section.scss";
@import "Components/steps.scss";
// @import "Components/collapse.scss";



// .title {
// }

// .test {
//     text-align: center;
// }

.bd-color {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    float: left;
    margin-right: 8px;
    height: 50px;
    width: 50px;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}